<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <nav class="navbar fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="#">FroneEnd Starter</a>
    </nav>
    <div class="bg"></div>
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid banner">
            <div class="banner-content">
                <h1><i class="fa fa-bath" aria-hidden="true"></i> Welcome to <%= htmlWebpackPlugin.options.appName %> !</h1>
                <p class="lead">You're all set to start building your app.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid main-content">
        <div class="container">
            <section>
                <h2>What you get out of the box</h2>
                <ul class="list">
                    <li>
                        <span>ES6 (EcmaScript 2015) support.</span>
                        <h3>Added:</h3>
                        <ul class="sublist">
                            <li><code>babel-cli</code></li>
                            <li><code>babel-core</code></li>
                            <li><code>babel-loader</code></li>
                        </ul>
                    </li>
                    <li>Sass(Scss) support.</li>
                </ul>
            </section>

            <section>
                <h2>How to use this package</h2>
                <ul class="list">
                    <li>Edit this html file or replace it with a <code>.ejs</code> file. This will be the main html document for you project.</li>
                    <li>
                        <span><code>./src/main.js</code> is the main JavaScript file for you project.</span>
                        <ul class="sublist">
                            <li>
                                <span>Import your styles inside it.</span>
                                <ul class="sublist">
                                    <li>Scss in enabled by default with your project.</li>
                                    <li>To edit the css file for this page, check out <code>./src/main.scss</code>.</li>
                                </ul>
                            </li>
                            <li>
                                <span>Import js libraies.</span>
                                <ul class="sublist">
                                    <li>ES6 Support by default.</li>
                                    <li>To edit the main js file for your project, check out <code>./src/main.js</code>.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
        </div>
    </div>

</body>
</html>