.banner {
    background-color: transparent;

    & > .banner-content {
        margin-top: 100px;
        background-color: rgba(255, 255, 255, .3);
        padding: 30px;
        display: inline-block;
    }
}

.bg {
    background: url('../static/img/background.jpg') no-repeat center center;
    position: fixed;
    width: 100%;
    height: 700px;
    top: 0;
    left: 0;
    z-index: -1;
}

.main-content {
    background-color: #fff;
}